language: node_js
nodejs:
- 14

script:
- npm run ci

notifications:
  email:
    recipients:
    - secure: VvqxyzjD6kyJ3MJsLZAWVzjdlXSswhH2qBfvrefwkCzUPU+OyrhwW2yOwAWOyEutq5YCF7BwudyXlZ26Lw/PLemWkpcOwQyC497PHMOLJQhPOVpuR4ufOQfSgINjv0kDTokwNLHZS3vMS+I7l6Pt3GErRDJIL4QUHvQ4IObuKJrwWNutqvPAbEkKUu11DD8xvWhtuipt9Y6EFNfQSzCeQgAlIUEM/VUajDifYFwA0RjyDS23vUMyBjQ1Tgg6VZrcqAkblH7RIfy6F5ZXxcP2zivthsWo4xff6QuLN+3Pbk9CRHX5qHVrFI67DvrZBppYRcZldkCUiHyu4nCoDa47I5zZKVHk/b1GE1uFMP5jDjCwRdmFD3xwW0XW+O4ty8dNS5TqDHiITLaVRmoXGd0V3mPbym+WI61fxWPjC6IhN1QdiJ/Ou/uFsRSgjS1Iymg86NuLp4ayg47Hf9j9PcWy2wD5KgqsZaMBZrgDwSR+d8iYG5vbaRrc5xi4nkrJamcv3jpiOobir+r0JzRTvasBfsquxQ48UJUYA3Kj5IgGM8/kk4UcICtJhKKyjXWYFXZBktYhf/2GGx9GJPiAdZj5DiuxBJXaEYFO/nAPdA4oe8vzwd2ctKIJ0pqxUzq4sde8QVMgaSpOs57Ch8czzGFiYVbfYhHxQHYNRTr+8vKv6Zw=
